.result {
  height: 100%;
  display: flex;
  align-items: center;
}
.teams {
  padding: 1rem;
}
.text {
  max-width: 25vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: -3vw;
}
.absoluteText {
  position: absolute;
  width: 100%;
  top: 65vh;
  left: 0;
}
.center {
  display: flex;
  flex-direction: column;
}

.image {
  width: 30vw;
}

.disappear {
  animation: disappear 2s ease-in-out forwards;
  -webkit-animation: disappear 2s ease-in-out forwards;
}
@keyframes disappear {
  from {
    color: white;
  }
  to {
    color: rgba(255, 255, 255, 0);
  }
}
