.cat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.question {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(90vw - 9px);
  height: calc(78vh - 5px);
  margin: -0.5px;
  box-sizing: border-box;
  cursor: default;
  border: 1px solid #f8e848;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
}
.text {
  font-size: 5vw;
  max-width: 50vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: -3vw;
}
.center {
  display: flex;
  flex-direction: column;
}

.image {
  max-width: 30vw;
  max-height: 40vh;
  margin-bottom: 3vh;
}
