.final {
  display: flex;
  flex-direction: column;
  height: 78%;
  justify-content: center;
  align-items: center;
}
.theme {
  width: 100%;
  height: 10vh;
  margin: -0.5px;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #e8e4b2;
  background-color: transparent;
  font-family: "NanumGothic-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  place-items: center;
}
.blinking {
  animation: 0.15s ease-in-out 0s infinite blinking;
  -webkit-animation: 0.15s ease-in-out 0s infinite blinking;
}
.sleep {
  color: transparent;
  cursor: not-allowed;
}
@keyframes blinking {
  0% {
    background-color: none;
  }
  50% {
    background-color: #f8e848;
  }
  100% {
    background-color: none;
  }
}
.delete {
  animation: 0.15s ease-in-out 0s infinite delete;
  -webkit-animation: 0.15s ease-in-out 0s infinite delete;
}
@keyframes delete {
  0% {
    background-color: red;
  }
  100% {
    background-color: transparent;
  }
}
