.text {
  max-width: 25vw;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: -3vw;
}
.points {
  margin: 0;
  padding-left: -3vw;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.command {
  display: "block";
  /* line-height: 1; */
}
.redBlink {
  animation: 1s ease-in-out 0s infinite redBlink;
  -webkit-animation: 1s ease-in-out 0s infinite redBlink;
}
@keyframes redBlink {
  0% {
    background-color: red;
  }

  100% {
    background-color: transparent;
  }
}
.greenBlink {
  animation: 1s ease-in-out 0s infinite greenBlink;
  -webkit-animation: 1s ease-in-out 0s infinite greenBlink;
}
@keyframes greenBlink {
  0% {
    background-color: green;
  }

  100% {
    background-color: transparent;
  }
}
