.question {
  background-color: #119;
  border-radius: 0;
  border: 1px solid #f8e848;
  position: fixed;
  width: 90%;
  height: 85%;
  z-index: 99;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
