.question {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(90vw - 9px);
  height: calc(78vh - 5px);
  margin: -0.5px;
  box-sizing: border-box;
  cursor: default;
  border: 1px solid #f8e848;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.image {
  max-width: 70vw;
  max-height: 40vh;
  margin-bottom: 3vh;
}
.smallimage {
  max-width: 8vw;
  max-height: 6vh;
}
