.question {
  width: calc(100% + 1px);
  height: 78%;
  margin: -0.5px;
  box-sizing: border-box;
  cursor: default;
  border: 1px solid #f8e848;
  display: flex;
  justify-content: center;
  place-items: center;
}
