.line {
  display: flex;
}
.theme {
  width: 20vw;
  height: 13vh;
  margin: -0.5px;
  padding: -15px;
  box-sizing: border-box;
  cursor: default;
  border: 1px solid #f8e848;
  padding: 0 10px;
  overflow: hidden;
}
.text {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: calc(1.5vw + 1.5vh);
  text-align: left;
  display: flex;
  align-items: center;
}

.blinking {
  animation: 0.15s ease-in-out 0s infinite blinking;
  -webkit-animation: 0.15s ease-in-out 0s infinite blinking;
}
@keyframes blinking {
  0% {
    background-color: none;
  }
  50% {
    background-color: #f8e848;
  }
  100% {
    background-color: none;
  }
}
