:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;

  font-size: 2.5vw;
  text-align: center;

  color-scheme: light dark;
  color: #ffffffde;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  height: 100vh;
  background-image: radial-gradient(#119, #116);
}

.FAQ {
  border: 1px dashed #ffffffde;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("public/Montserrat-VariableFont_wght.ttf");
}
/* @font-face {
  font-family: "NanumGothic-Bold";
  src: url("/public/NanumGothic-Bold.ttf");
} */
