:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;

  font-size: calc(1.5vw + 1.5vh);
  text-align: center;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #ffffffde;
  font-family: "Montserrat-Regular", sans-serif;
}

label {
  color: #ffffffde;
  font-family: "Montserrat-Regular", sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  height: 100vh;
  background-image: radial-gradient(#119, #116);
}

.FAQ {
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  bottom: 15px;
  right: 15px;
}

.burger {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 20px;
}
.burgerMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 70px;
  right: 3vw;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("@fonts/Montserrat-VariableFont_wght.ttf");
}
